/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: "Playball", cursive !important;

}
body {
  margin: 0;
background-image: url('./assets/images/landscape-4354395.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

